
.alarm-big-box {
  background: #f1f1f1;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 1196px;
  height: 612px;
  position: absolute;
  left: 257px;
  top: 150px;
}
.vacuum {
  background: #e2ce98;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 329px;
  height: 58px;
  position: absolute;
  left: 690px;
  top: 74px;
}
.alarm-1 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 287px;
  top: 165px;
}
.alarm-2 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 287px;
  top: 250px;
}
.alarm-3 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 287px;
  top: 335px;
}
.alarm-4 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 287px;
  top: 420px;
}
.alarm-5 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 287px;
  top: 505px;
}
.alarm-6 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 287px;
  top: 590px;
}
.alarm-7 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 287px;
  top: 675px;
}
.alarm-8 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 516px;
  top: 165px;
}
.alarm-9 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 516px;
  top: 250px;
}
.alarm-10 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 516px;
  top: 335px;
}
.alarm-11 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 516px;
  top: 420px;
}
.alarm-12 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 516px;
  top: 505px;
}
.alarm-13 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 516px;
  top: 590px;
}
.alarm-14 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 516px;
  top: 675px;
}
.alarm-15 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 745px;
  top: 165px;
}
.alarm-16 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 745px;
  top: 250px;
}
.alarm-17 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 745px;
  top: 335px;
}
.alarm-18 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 745px;
  top: 420px;
}
.alarm-19 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 745px;
  top: 505px;
}
.alarm-20 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 745px;
  top: 590px;
}
.alarm-21 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 745px;
  top: 675px;
}
.alarm-22 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 974px;
  top: 165px;
}
.alarm-23 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 974px;
  top: 250px;
}
.alarm-24 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 974px;
  top: 335px;
}
.alarm-25 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 974px;
  top: 420px;
}
.alarm-26 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 974px;
  top: 505px;
}
.alarm-27 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 974px;
  top: 590px;
}
.alarm-28 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 1203px;
  top: 165px;
}
.alarm-29 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 1203px;
  top: 250px;
}
.alarm-30 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 1203px;
  top: 335px;
}
.alarm-31 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 1203px;
  top: 420px;
}
.alarm-32 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 1203px;
  top: 505px;
}
.alarm-33 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 72px;
  position: absolute;
  left: 1203px;
  top: 590px;
}
