.group-2,
.group-2 * {
  box-sizing: border-box;
}
.group-2 {
  height: 954px;
  position: relative;
}
.image-2 {
  width: 1920px;
  height: 954px;
  position: absolute;
  left: 38px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1920/954;
}
.group-1 {
  width: 1684px;
  height: 73px;
  position: static;
}
.footer {
  background: #33363d;
  width: 1684px;
  height: 73px;
  position: absolute;
  left: 0px;
  top: 770px;
}
.rectangle-91 {
  background: #4f4f4f;
  width: 402.39px;
  height: 39px;
  position: absolute;
  left: 901.35px;
  top: 773px;
}
.rectangle-92 {
  background: #74879e;
  border-radius: 3px;
  width: 197.17px;
  height: 72px;
  position: absolute;
  left: 560.33px;
  top: 770px;
}
.rectangle-93 {
  background: #74879e;
  border-radius: 3px;
  width: 72.43px;
  height: 72px;
  position: absolute;
  left: 484.88px;
  top: 770px;
}
.rectangle-94 {
  background: #74879e;
  border-radius: 3px;
  width: 135.81px;
  height: 72px;
  position: absolute;
  left: 760.52px;
  top: 770px;
}
.rectangle-95 {
  background: #1f2935;
  border-radius: 3px;
  width: 189.12px;
  height: 64px;
  position: absolute;
  left: 564.35px;
  top: 774px;
}
.rectangle-96 {
  background: #1f2935;
  border-radius: 3px;
  width: 66.39px;
  height: 66px;
  position: absolute;
  left: 487.9px;
  top: 773px;
}
.rectangle-97 {
  background: #1f2935;
  border-radius: 3px;
  width: 127.76px;
  height: 64px;
  position: absolute;
  left: 764.54px;
  top: 774px;
}
.rectangle-98 {
  background: #6a7788;
  border-radius: 3px;
  width: 60.36px;
  height: 60px;
  position: absolute;
  left: 566.36px;
  top: 776px;
}
.rectangle-99 {
  background: #6a7788;
  border-radius: 3px;
  width: 60.36px;
  height: 60px;
  position: absolute;
  left: 490.92px;
  top: 776px;
}
.rectangle-100 {
  background: #6a7788;
  border-radius: 3px;
  width: 60.36px;
  height: 60px;
  position: absolute;
  left: 628.73px;
  top: 776px;
}
.rectangle-101 {
  background: #6a7788;
  border-radius: 3px;
  width: 60.36px;
  height: 60px;
  position: absolute;
  left: 691.1px;
  top: 776px;
}
.rectangle-102 {
  background: #6a7788;
  border-radius: 3px;
  width: 60.36px;
  height: 60px;
  position: absolute;
  left: 766.55px;
  top: 776px;
}
.rectangle-103 {
  background: #6a7788;
  border-radius: 3px;
  width: 60.36px;
  height: 60px;
  position: absolute;
  left: 828.92px;
  top: 776px;
}
.object {
  width: 105px;
  height: 33px;
  position: absolute;
  left: 620px;
  top: 304px;
  object-fit: cover;
  aspect-ratio: 105/33;
}
.object2 {
  width: 148px;
  height: 31px;
  position: absolute;
  left: 570px;
  top: 166px;
  object-fit: cover;
  aspect-ratio: 148/31;
}
.object3 {
  width: 142px;
  height: 210px;
  position: absolute;
  left: 816px;
  top: 179px;
  object-fit: cover;
  aspect-ratio: 142/210;
}
.object4 {
  width: 80px;
  height: 43px;
  position: absolute;
  left: 779px;
  top: 166px;
  object-fit: cover;
  aspect-ratio: 80/43;
}
.object5 {
  width: 149px;
  height: 121px;
  position: absolute;
  left: 683px;
  top: 259px;
  object-fit: cover;
  aspect-ratio: 149/121;
}
.object6 {
  width: 126px;
  height: 144px;
  position: absolute;
  left: 693px;
  top: 138px;
  object-fit: cover;
  aspect-ratio: 126/144;
}
.object7 {
  width: 34px;
  height: 111px;
  position: absolute;
  left: 1312px;
  top: 333px;
  object-fit: cover;
  aspect-ratio: 34/111;
}
.object8 {
  width: 228px;
  height: 35px;
  position: absolute;
  left: 1002px;
  top: 402px;
  object-fit: cover;
  aspect-ratio: 228/35;
}
.object9 {
  width: 46px;
  height: 216px;
  position: absolute;
  left: 1231px;
  top: 197px;
  object-fit: cover;
  aspect-ratio: 46/216;
}
.object10 {
  width: 49px;
  height: 116px;
  position: absolute;
  left: 978px;
  top: 200px;
  object-fit: cover;
  aspect-ratio: 49/116;
}
.object11 {
  width: 246px;
  height: 255px;
  position: absolute;
  left: 880px;
  top: 279px;
  object-fit: cover;
  aspect-ratio: 246/255;
}
.heatpower-green {
  width: 127px;
  height: 127px;
  position: absolute;
  left: 939px;
  top: 347px;
  object-fit: cover;
  aspect-ratio: 1;
}
.heatpower-red {
  width: 127px;
  height: 127px;
  position: absolute;
  left: 939px;
  top: 347px;
  object-fit: cover;
  aspect-ratio: 1;
}
.object12 {
  width: 40px;
  height: 24px;
  position: absolute;
  left: 982px;
  top: 249px;
  object-fit: cover;
  aspect-ratio: 40/24;
}
.object13 {
  width: 40px;
  height: 24px;
  position: absolute;
  left: 1235px;
  top: 358px;
  object-fit: cover;
  aspect-ratio: 40/24;
}
.object14 {
  width: 68px;
  height: 58px;
  position: absolute;
  left: 984px;
  top: 150px;
  object-fit: cover;
  aspect-ratio: 68/58;
}
.object15 {
  width: 162px;
  height: 32px;
  position: absolute;
  left: 1048px;
  top: 150px;
  object-fit: cover;
  aspect-ratio: 162/32;
}
.object16 {
  width: 71px;
  height: 63px;
  position: absolute;
  left: 1204px;
  top: 149px;
  object-fit: cover;
  aspect-ratio: 71/63;
}
.object17 {
  width: 135px;
  height: 124px;
  position: absolute;
  left: 1211px;
  top: 395px;
  object-fit: cover;
  aspect-ratio: 135/124;
}
.object18 {
  width: 30px;
  height: 37px;
  position: absolute;
  left: 1196px;
  top: 402px;
  object-fit: cover;
  aspect-ratio: 30/37;
}
.object19 {
  width: 17px;
  height: 53px;
  position: absolute;
  left: 1321px;
  top: 248px;
  object-fit: cover;
  aspect-ratio: 17/53;
}
.object20 {
  width: 53px;
  height: 40px;
  position: absolute;
  left: 1304px;
  top: 297px;
  object-fit: cover;
  aspect-ratio: 53/40;
}
.object21 {
  width: 97px;
  height: 116px;
  position: absolute;
  left: 417px;
  top: 282px;
  object-fit: cover;
  aspect-ratio: 97/116;
}
.object22 {
  width: 105px;
  height: 108px;
  position: absolute;
  left: 329px;
  top: 287px;
  object-fit: cover;
  aspect-ratio: 105/108;
}
.object23 {
  width: 169px;
  height: 30px;
  position: absolute;
  left: 329px;
  top: 384px;
  object-fit: cover;
  aspect-ratio: 169/30;
}
.object24 {
  width: 97px;
  height: 116px;
  position: absolute;
  left: 417px;
  top: 445px;
  object-fit: cover;
  aspect-ratio: 97/116;
}
.object25 {
  width: 105px;
  height: 108px;
  position: absolute;
  left: 329px;
  top: 450px;
  object-fit: cover;
  aspect-ratio: 105/108;
}
.object26 {
  width: 169px;
  height: 29px;
  position: absolute;
  left: 329px;
  top: 547px;
  object-fit: cover;
  aspect-ratio: 169/29;
}
.object27 {
  width: 63px;
  height: 55px;
  position: absolute;
  left: 533px;
  top: 166px;
  object-fit: cover;
  aspect-ratio: 63/55;
}
.object28 {
  width: 41px;
  height: 41px;
  position: absolute;
  left: 533px;
  top: 197px;
  object-fit: cover;
  aspect-ratio: 1;
}
.object29 {
  width: 53px;
  height: 44px;
  position: absolute;
  left: 524px;
  top: 231px;
  object-fit: cover;
  aspect-ratio: 53/44;
}
.object30 {
  width: 41px;
  height: 53px;
  position: absolute;
  left: 533px;
  top: 267px;
  object-fit: cover;
  aspect-ratio: 41/53;
}
.object31 {
  width: 66px;
  height: 49px;
  position: absolute;
  left: 533px;
  top: 298px;
  object-fit: cover;
  aspect-ratio: 66/49;
}
.object32 {
  width: 45px;
  height: 57px;
  position: absolute;
  left: 585px;
  top: 290px;
  object-fit: cover;
  aspect-ratio: 45/57;
}
.object33 {
  width: 42px;
  height: 84px;
  position: absolute;
  left: 533px;
  top: 333px;
  object-fit: cover;
  aspect-ratio: 42/84;
}
.object34 {
  width: 63px;
  height: 58px;
  position: absolute;
  left: 512px;
  top: 392px;
  object-fit: cover;
  aspect-ratio: 63/58;
}
.vacuum-heat {
  width: 209px;
  height: 44px;
  position: absolute;
  left: 897px;
  top: 524px;
  object-fit: cover;
  aspect-ratio: 209/44;
}
.cold-pen {
  width: 209px;
  height: 44px;
  position: absolute;
  left: 1184px;
  top: 509px;
  object-fit: cover;
  aspect-ratio: 209/44;
}
.luffing-pump {
  width: 209px;
  height: 44px;
  position: absolute;
  left: 315px;
  top: 569px;
  object-fit: cover;
  aspect-ratio: 209/44;
}
.diff-pump {
  width: 209px;
  height: 42px;
  position: absolute;
  left: 651px;
  top: 376px;
  object-fit: cover;
  aspect-ratio: 209/42;
}
.diff-pump-on {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 742px;
  top: 344px;
  width: 27px;
  height: 21px;
}
.diff-pump-off {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 739px;
  top: 344px;
  width: 35px;
  height: 21px;
}
.booster-pump {
  width: 209px;
  height: 44px;
  position: absolute;
  left: 315px;
  top: 406px;
  object-fit: cover;
  aspect-ratio: 209/44;
}
.fourline-valve {
  width: 126px;
  height: 44px;
  position: absolute;
  left: 564px;
  top: 334px;
  object-fit: cover;
  aspect-ratio: 126/44;
}
.luffing-valve {
  width: 139px;
  height: 44px;
  position: absolute;
  left: 396px;
  top: 189px;
  object-fit: cover;
  aspect-ratio: 139/44;
}
.luffing-valve-off {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 448px;
  top: 242px;
  width: 33px;
  height: 22px;
}
.luffing-valve-on {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 447px;
  top: 242px;
  width: 33px;
  height: 22px;
}
.luffing-valve-lamp {
  background: #00ff1e;
  border-radius: 5px;
  width: 39px;
  height: 26px;
  position: absolute;
  left: 486px;
  top: 240px;
}
.vacuum-valve {
  width: 138px;
  height: 43px;
  position: absolute;
  left: 587px;
  top: 101px;
  object-fit: cover;
  aspect-ratio: 138/43;
}
.vacuum-valve-off {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 739px;
  top: 117px;
  width: 33px;
  height: 21px;
}
.vacuum-valve-on {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 739px;
  top: 117px;
  width: 33px;
  height: 21px;
}
.fourline-valve-off {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 590px;
  top: 228px;
  width: 33px;
  height: 21px;
}
.fourline-valve-on {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 590px;
  top: 228px;
  width: 33px;
  height: 21px;
}
.fourline-valve-lamp {
  background: #00ff1e;
  border-radius: 5px;
  width: 39px;
  height: 26px;
  position: absolute;
  left: 621px;
  top: 254px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.gas-valve-off {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 1400px;
  top: 305px;
  width: 33px;
  height: 21px;
}
.gas-valve-on {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 1400px;
  top: 306px;
  width: 33px;
  height: 21px;
}
.gas-valve {
  width: 133px;
  height: 37px;
  position: absolute;
  left: 1353px;
  top: 257px;
  object-fit: cover;
  aspect-ratio: 133/37;
}
.gas-valve-lamp {
  background: #00ff1e;
  border-radius: 5px;
  width: 39px;
  height: 26px;
  position: absolute;
  left: 1357px;
  top: 304px;
}
.ellipse-1 {
  background: #000000;
  border-radius: 50%;
  width: 93px;
  height: 83px;
  position: absolute;
  left: 1240px;
  top: 405px;
}
.pen-4 {
  width: 73px;
  height: 72px;
  position: absolute;
  left: 1250px;
  top: 408px;
  object-fit: cover;
  aspect-ratio: 73/72;
}
.ellipse-2 {
  background: #000000;
  border-radius: 50%;
  width: 59px;
  height: 53px;
  position: absolute;
  left: 727px;
  top: 280px;
}
.pen-3 {
  width: 47px;
  height: 46px;
  position: absolute;
  left: 733px;
  top: 281px;
  object-fit: cover;
  aspect-ratio: 47/46;
}
.ellipse-3 {
  background: #000000;
  border-radius: 50%;
  width: 60px;
  height: 53px;
  position: absolute;
  left: 357px;
  top: 313px;
}
.pen-2 {
  width: 47px;
  height: 47px;
  position: absolute;
  left: 363px;
  top: 314px;
  object-fit: cover;
  aspect-ratio: 1;
}
.ellipse-4 {
  background: #000000;
  border-radius: 50%;
  width: 60px;
  height: 53px;
  position: absolute;
  left: 357px;
  top: 475px;
}
.pen-1 {
  width: 47px;
  height: 46px;
  position: absolute;
  left: 363px;
  top: 476px;
  object-fit: cover;
  aspect-ratio: 47/46;
}
.box {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 302px;
  height: 146px;
  position: absolute;
  left: 0px;
  top: 624px;
}
.box2 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 599px;
  height: 146px;
  position: absolute;
  left: 302px;
  top: 624px;
}
.box3 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 254px;
  height: 146px;
  position: absolute;
  left: 1430px;
  top: 624px;
}
.text {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 24px;
  top: 652px;
  width: 108px;
  height: 31px;
}
.text2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 24px;
  top: 686px;
  width: 93px;
  height: 31px;
}
.text3 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 24px;
  top: 718px;
  width: 160px;
  height: 31px;
}
.text4 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 827px;
  top: 15px;
  width: 181px;
  height: 31px;
}
.text5 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 827px;
  top: 46px;
  width: 181px;
  height: 31px;
}
.text6 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 827px;
  top: 75px;
  width: 181px;
  height: 31px;
}
.text7 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 827px;
  top: 104px;
  width: 181px;
  height: 31px;
}
.text8 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 322px;
  top: 640px;
  width: 76px;
  height: 31px;
}
.text9 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 322px;
  top: 684px;
  width: 126px;
  height: 31px;
}
.text10 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 322px;
  top: 726px;
  width: 126px;
  height: 31px;
}
.text11 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 743px;
  top: 637px;
}
.text12 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 743px;
  top: 678px;
}
.text13 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 743px;
  top: 720px;
}
.box4 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 343px;
  height: 146px;
  position: absolute;
  left: 1088px;
  top: 624px;
}
.box5 {
  background: #c5fa8f;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 343px;
  height: 77px;
  position: absolute;
  left: 1088px;
  top: 624px;
}
.text14 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 1197px;
  top: 643px;
}
.auto-run-off-box {
  background: #c5fa8f;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 172px;
  height: 70px;
  position: absolute;
  left: 1088px;
  top: 700px;
}
.auto-run-on-box {
  background: #c5fa8f;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 173px;
  height: 70px;
  position: absolute;
  left: 1258px;
  top: 700px;
}
.auto-run-off {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 1104px;
  top: 718px;
}
.auto-run-on {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 1275px;
  top: 718px;
}
.rectangle-104 {
  background: #c5fa8f;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 188px;
  height: 146px;
  position: absolute;
  left: 900px;
  top: 624px;
}
.luffing-valve-lamp2 {
  background: #696d69;
  width: 72px;
  height: 24px;
  position: absolute;
  left: 195px;
  top: 652px;
}
.luffing-valve-lamp3 {
  background: #696d69;
  width: 72px;
  height: 24px;
  position: absolute;
  left: 195px;
  top: 686px;
}
.luffing-valve-lamp4 {
  background: #696d69;
  width: 72px;
  height: 24px;
  position: absolute;
  left: 195px;
  top: 718px;
}
.luffing-valve-lamp5 {
  background: #696d69;
  width: 72px;
  height: 24px;
  position: absolute;
  left: 994px;
  top: 15px;
}
.luffing-valve-lamp6 {
  background: #696d69;
  width: 72px;
  height: 24px;
  position: absolute;
  left: 994px;
  top: 46px;
}
.luffing-valve-lamp7 {
  background: #696d69;
  width: 72px;
  height: 24px;
  position: absolute;
  left: 994px;
  top: 77px;
}
.luffing-valve-lamp8 {
  background: #696d69;
  width: 72px;
  height: 24px;
  position: absolute;
  left: 994px;
  top: 107px;
}
.box6 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 188px;
  height: 41px;
  position: absolute;
  left: 900px;
  top: 624px;
}
.box7 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 73px;
  height: 54px;
  position: absolute;
  left: 900px;
  top: 664px;
}
.box8 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 73px;
  height: 53px;
  position: absolute;
  left: 900px;
  top: 717px;
}
.text15 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 937px;
  top: 630px;
}
.text16 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 907px;
  top: 679px;
}
.text17 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 907px;
  top: 732px;
}
.cold-timer-sv {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 116px;
  height: 54px;
  position: absolute;
  left: 972px;
  top: 664px;
}
.cold-timer-pv {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 116px;
  height: 53px;
  position: absolute;
  left: 972px;
  top: 717px;
}
.vacuum-pv {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 274px;
  height: 38px;
  position: absolute;
  left: 463px;
  top: 637px;
}
.hivacuum-pv {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 274px;
  height: 38px;
  position: absolute;
  left: 463px;
  top: 681px;
}
.heat-pv {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 274px;
  height: 38px;
  position: absolute;
  left: 463px;
  top: 724px;
}
.auto-value {
  background: #c5fa8f;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 257px;
  height: 53px;
  position: absolute;
  left: 10px;
  top: 18px;
}
.time-zone {
  background: #c5fa8f;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 490px;
  height: 53px;
  position: absolute;
  left: 1194px;
  top: 18px;
}
