
.diff-pump {
  background: #003366;
  border-style: solid;
  border-color: #c7c7c7;
  border-width: 1px;
  width: 171px;
  height: 31px;
  position: absolute;
  left: 351px;
  top: 454px;
}
.vacuum-heat {
   width: 171px;
  height: 31px;
  position: absolute;
  left: 565px;
  top: 603px;
  background: #FFAF1A;
  border-style: solid;
  border-color: #c7c7c7;
  border-width: 1px;
}
.luffing-pump {
   width: 171px;
  height: 31px;
  position: absolute;
  left: 48px;
  top: 633px;
  background: #003366;
  border-style: solid;
  border-color: #c7c7c7;
  border-width: 1px;
}
.cold-pen {
  width: 171px;
  height: 31px;
  position: absolute;
  left: 789px;
  top: 582px;
  background: #003366;
  border-style: solid;
  border-color: #c7c7c7;
  border-width: 1px;
}
.booster-pump {
  width: 171px;
  height: 31px;
  position: absolute;
  left: 48px;
  top: 479px;
  background: #003366;
  border-style: solid;
  border-color: #c7c7c7;
  border-width: 1px;
}
.fourline-valve {
  width: 111px;
  height: 31px;
  position: absolute;
  left: 265px;
  top: 409px;
  background: #3D9DFD;
  border-style: solid;
  border-color: #c7c7c7;
  border-width: 1px;
}
.gas-valve {
  width: 111px;
  height: 31px;
  position: absolute;
  left: 940px;
  top: 414px;
  background: #3D9DFD;
  border-style: solid;
  border-color: #c7c7c7;
  border-width: 1px;
}
.luffing-valve {
  width: 111px;
  height: 31px;
  position: absolute;
  left: 98px;
  top: 267px;
  background: #3D9DFD;
  border-style: solid;
  border-color: #c7c7c7;
  border-width: 1px;
}
.vacuum-valve {
  width: 111px;
  height: 31px;
  position: absolute;
  left: 279px;
  top: 194px;
  background: #3D9DFD;
  border-style: solid;
  border-color: #c7c7c7;
  border-width: 1px;
}
.green-luffing-valve {
  background: #c0c0c0;
  border-radius: 5px;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 192px;
  top: 317px;
}
.green-fourline-valve {
  background: #c0c0c0;
  border-radius: 5px;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 308px;
  top: 331px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.green-gas-valve {
  background: #c0c0c0;
  border-radius: 5px;
  width: 30px;
  height: 24px;
  position: absolute;
  left: 938px;
  top: 382px;
}
.mainIMG {
  width: 726px;
  height: 395px;
  position: absolute;
  left: 220px;
  top: 213px;
  object-fit: cover;
  aspect-ratio: 726/395;
  z-index : -1;
}
.footer {
  background: #33363d;
  width: 1684px;
  height: 73px;
  position: absolute;
  left: 0px;
  top: 776px;
}
.rectangle-91 {
  background: #4f4f4f;
  width: 402.39px;
  height: 39px;
  position: absolute;
  left: 901.35px;
  top: 779px;
}
.rectangle-92 {
  background: #74879e;
  border-radius: 3px;
  width: 197.17px;
  height: 72px;
  position: absolute;
  left: 560.33px;
  top: 776px;
}
.rectangle-93 {
  background: #74879e;
  border-radius: 3px;
  width: 72.43px;
  height: 72px;
  position: absolute;
  left: 484.88px;
  top: 776px;
}
.rectangle-94 {
  background: #74879e;
  border-radius: 3px;
  width: 135.81px;
  height: 72px;
  position: absolute;
  left: 760.52px;
  top: 776px;
}
.rectangle-95 {
  background: #1f2935;
  border-radius: 3px;
  width: 189.12px;
  height: 64px;
  position: absolute;
  left: 564.35px;
  top: 780px;
}
.rectangle-96 {
  background: #1f2935;
  border-radius: 3px;
  width: 66.39px;
  height: 66px;
  position: absolute;
  left: 487.9px;
  top: 779px;
}
.rectangle-97 {
  background: #1f2935;
  border-radius: 3px;
  width: 127.76px;
  height: 64px;
  position: absolute;
  left: 764.54px;
  top: 780px;
}
.rectangle-98 {
  background: #6a7788;
  border-radius: 3px;
  width: 60.36px;
  height: 60px;
  position: absolute;
  left: 566.36px;
  top: 782px;
}
.rectangle-99 {
  background: #6a7788;
  border-radius: 3px;
  width: 60.36px;
  height: 60px;
  position: absolute;
  left: 490.92px;
  top: 782px;
}
.rectangle-100 {
  background: #6a7788;
  border-radius: 3px;
  width: 60.36px;
  height: 60px;
  position: absolute;
  left: 628.73px;
  top: 782px;
}
.rectangle-101 {
  background: #6a7788;
  border-radius: 3px;
  width: 60.36px;
  height: 60px;
  position: absolute;
  left: 691.1px;
  top: 782px;
}
.rectangle-102 {
  background: #6a7788;
  border-radius: 3px;
  width: 60.36px;
  height: 60px;
  position: absolute;
  left: 766.55px;
  top: 782px;
}
.rectangle-103 {
  background: #6a7788;
  border-radius: 3px;
  width: 60.36px;
  height: 60px;
  position: absolute;
  left: 828.92px;
  top: 782px;
}
.object {
  width: 99px;
  height: 32px;
  position: absolute;
  left: 311px;
  top: 345px;
  object-fit: cover;
  aspect-ratio: 99/32;
}
.object2 {
  width: 135px;
  height: 30px;
  position: absolute;
  left: 264px;
  top: 215px;
  object-fit: cover;
  aspect-ratio: 135/30;
}
.object3 {
  width: 135px;
  height: 198px;
  position: absolute;
  left: 496px;
  top: 228px;
  object-fit: cover;
  aspect-ratio: 135/198;
}
.object4 {
  width: 76px;
  height: 41px;
  position: absolute;
  left: 461px;
  top: 215px;
  object-fit: cover;
  aspect-ratio: 76/41;
}
.object5 {
  width: 140px;
  height: 114px;
  position: absolute;
  left: 370px;
  top: 303px;
  object-fit: cover;
  aspect-ratio: 140/114;
}
.object6 {
  width: 120px;
  height: 137px;
  position: absolute;
  left: 380px;
  top: 188px;
  object-fit: cover;
  aspect-ratio: 120/137;
}
.object7 {
  width: 32px;
  height: 107px;
  position: absolute;
  left: 966px;
  top: 374px;
  object-fit: cover;
  aspect-ratio: 32/107;
}
.object8 {
  width: 214px;
  height: 33px;
  position: absolute;
  left: 673px;
  top: 438px;
  object-fit: cover;
  aspect-ratio: 214/33;
}
.object9 {
  width: 43px;
  height: 201px;
  position: absolute;
  left: 890px;
  top: 244px;
  object-fit: cover;
  aspect-ratio: 43/201;
}
.object10 {
  width: 46px;
  height: 109px;
  position: absolute;
  left: 651px;
  top: 247px;
  object-fit: cover;
  aspect-ratio: 46/109;
}
.object11 {
  width: 233px;
  height: 241px;
  position: absolute;
  left: 556px;
  top: 323px;
  object-fit: cover;
  aspect-ratio: 233/241;
}
.object12 {
  width: 37px;
  height: 22px;
  position: absolute;
  left: 654px;
  top: 294px;
  object-fit: cover;
  aspect-ratio: 37/22;
}
.object13 {
  width: 39px;
  height: 23px;
  position: absolute;
  left: 893px;
  top: 396px;
  object-fit: cover;
  aspect-ratio: 39/23;
}
.object14 {
  width: 64px;
  height: 55px;
  position: absolute;
  left: 656px;
  top: 199px;
  object-fit: cover;
  aspect-ratio: 64/55;
}
.object15 {
  width: 158px;
  height: 31px;
  position: absolute;
  left: 716px;
  top: 199px;
  object-fit: cover;
  aspect-ratio: 158/31;
}
.object16 {
  width: 68px;
  height: 60px;
  position: absolute;
  left: 863px;
  top: 199px;
  object-fit: cover;
  aspect-ratio: 68/60;
}
.object17 {
  width: 127px;
  height: 117px;
  position: absolute;
  left: 871px;
  top: 432px;
  object-fit: cover;
  aspect-ratio: 127/117;
}
.object18 {
  width: 27px;
  height: 34px;
  position: absolute;
  left: 857px;
  top: 438px;
  object-fit: cover;
  aspect-ratio: 27/34;
}
.object19 {
  width: 16px;
  height: 50px;
  position: absolute;
  left: 975px;
  top: 293px;
  object-fit: cover;
  aspect-ratio: 16/50;
}
.object20 {
  width: 51px;
  height: 39px;
  position: absolute;
  left: 959px;
  top: 338px;
  object-fit: cover;
  aspect-ratio: 51/39;
}
.object21 {
  width: 92px;
  height: 110px;
  position: absolute;
  left: 118px;
  top: 356px;
  object-fit: cover;
  aspect-ratio: 92/110;
}
.object22 {
  width: 100px;
  height: 102px;
  position: absolute;
  left: 36px;
  top: 358px;
  object-fit: cover;
  aspect-ratio: 100/102;
}
.object23 {
  width: 161px;
  height: 29px;
  position: absolute;
  left: 36px;
  top: 451px;
  object-fit: cover;
  aspect-ratio: 161/29;
}
.object24 {
  width: 92px;
  height: 110px;
  position: absolute;
  left: 118px;
  top: 510px;
  object-fit: cover;
  aspect-ratio: 92/110;
}
.object25 {
  width: 99px;
  height: 102px;
  position: absolute;
  left: 36px;
  top: 514px;
  object-fit: cover;
  aspect-ratio: 99/102;
}
.object26 {
  width: 158px;
  height: 27px;
  position: absolute;
  left: 36px;
  top: 606px;
  object-fit: cover;
  aspect-ratio: 158/27;
}
.object27 {
  width: 59px;
  height: 53px;
  position: absolute;
  left: 228px;
  top: 215px;
  object-fit: cover;
  aspect-ratio: 59/53;
}
.object28 {
  width: 39px;
  height: 40px;
  position: absolute;
  left: 228px;
  top: 244px;
  object-fit: cover;
  aspect-ratio: 39/40;
}
.object29 {
  width: 50px;
  height: 42px;
  position: absolute;
  left: 221px;
  top: 276px;
  object-fit: cover;
  aspect-ratio: 50/42;
}
.object30 {
  width: 38px;
  height: 51px;
  position: absolute;
  left: 228px;
  top: 311px;
  object-fit: cover;
  aspect-ratio: 38/51;
}
.object31 {
  width: 63px;
  height: 47px;
  position: absolute;
  left: 228px;
  top: 339px;
  object-fit: cover;
  aspect-ratio: 63/47;
}
.object32 {
  width: 42px;
  height: 54px;
  position: absolute;
  left: 278px;
  top: 332px;
  object-fit: cover;
  aspect-ratio: 42/54;
}
.object33 {
  width: 39px;
  height: 79px;
  position: absolute;
  left: 228px;
  top: 374px;
  object-fit: cover;
  aspect-ratio: 39/79;
}
.object34 {
  width: 60px;
  height: 55px;
  position: absolute;
  left: 208px;
  top: 429px;
  object-fit: cover;
  aspect-ratio: 60/55;
}

.diff-pump-on {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 427px;
  top: 383px;
  width: 25px;
  height: 21px;
}
.lamp-text-diff-pump-on {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 420px;
  top: 413px;
  width: 35px;
  height: 21px;
}
.diff-pump-off {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 423px;
  top: 383px;
  width: 33px;
  height: 21px;
}

.lamp-text-luffing-valve-off {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 148px;
  top: 286px;
  width: 31px;
  height: 21px;
}
.lamp-text-luffing-valve-on {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 156px;
  top: 317px;
  width: 31px;
  height: 21px;
}
.lamp-on-luffing-valve {
  background: #00ff1e;
  border-radius: 5px;
  width: 39px;
  height: 26px;
  position: absolute;
  left: 183px;
  top: 284px;
}

.lamp-text-vacuum-valve-off {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 425px;
  top: 167px;
  width: 31px;
  height: 21px;
}
.lamp-text-vacuum-valve-on {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 419px;
  top: 197px;
  width: 31px;
  height: 21px;
}
.lamp-text-fourline-valve-off {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 285px;
  top: 273px;
  width: 32px;
  height: 21px;
}
.lamp-text-fourline-valve-on {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 285px;
  top: 303px;
  width: 32px;
  height: 21px;
}
.lamp-on-fourline-valve {
  background: #00ff1e;
  border-radius: 5px;
  width: 37px;
  height: 26px;
  position: absolute;
  left: 312px;
  top: 298px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.lamp-text-gas-valve-off {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 1050px;
  top: 349px;
  width: 32px;
  height: 20px;
}
.lamp-text-gas-valve-on {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 979px;
  top: 382px;
  width: 32px;
  height: 20px;
}

.lamp-on-gas-valve {
  background: #00ff1e;
  border-radius: 5px;
  width: 37px;
  height: 25px;
  position: absolute;
  left: 1009px;
  top: 345px;
}
.ellipse-1 {
  background: #000000;
  border-radius: 50%;
  width: 87px;
  height: 79px;
  position: absolute;
  left: 899px;
  top: 440px;
}
.pen-4 {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 844px;
  top: 479px;
  object-fit: cover;
  aspect-ratio: 70/69;
}
.ellipse-2 {
  background: #000000;
  border-radius: 50%;
  width: 57px;
  height: 50px;
  position: absolute;
  left: 412px;
  top: 324px;
}
.pen-3 {
  width: 44px;
  height: 43px;
  position: absolute;
  left: 412px;
  top: 360px;
  object-fit: cover;
  aspect-ratio: 44/43;
}
.ellipse-3 {
  background: #000000;
  border-radius: 50%;
  width: 56px;
  height: 51px;
  position: absolute;
  left: 62px;
  top: 384px;
}
.pen-2 {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 67px;
  top: 385px;
  object-fit: cover;
  aspect-ratio: 1;
}
.ellipse-4 {
  background: #000000;
  border-radius: 50%;
  width: 56px;
  height: 50px;
  position: absolute;
  left: 62px;
  top: 537px;
}
.pen-1 {
  width: 44px;
  height: 43px;
  position: absolute;
  left: 67px;
  top: 539px;
  object-fit: cover;
  aspect-ratio: 44/43;
}
.set-cool-switch-1 {
  background: #696d69;
  width: 70px;
  height: 20px;
  position: absolute;
  left: 333px;
  top: 525px;
}
.set-cool-switch-2 {
  background: #696d69;
  width: 70px;
  height: 21px;
  position: absolute;
  left: 668px;
  top: 108px;
}
.set-cool-switch-3 {
  background: #696d69;
  width: 70px;
  height: 20px;
  position: absolute;
  left: 668px;
  top: 137px;
}
.set-cool-switch-4 {
  background: #696d69;
  width: 70px;
  height: 20px;
  position: absolute;
  left: 668px;
  top: 164px;
}
.box {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 245px;
  height: 87px;
  position: absolute;
  left: 0px;
  top: 719px;
}
.box2 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 157px;
  height: 87px;
  position: absolute;
  left: 0px;
  top: 719px;
}
.box3 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 245px;
  height: 31px;
  position: absolute;
  left: 0px;
  top: 719px;
}
.box4 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 157px;
  height: 31px;
  position: absolute;
  left: 0px;
  top: 719px;
}
.box5 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 245px;
  height: 29px;
  position: absolute;
  left: 0px;
  top: 748px;
}
.box6 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 157px;
  height: 29px;
  position: absolute;
  left: 0px;
  top: 748px;
}
.box7 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 157px;
  height: 28px;
  position: absolute;
  left: 0px;
  top: 778px;
}
.time-zone-2 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 253px;
  height: 87px;
  position: absolute;
  left: 1044px;
  top: 719px;
}
.time-zone-1 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 265px;
  height: 43px;
  position: absolute;
  left: 1044px;
  top: 763px;
}
.logo-zone {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 380px;
  height: 87px;
  position: absolute;
  left: 1298px;
  top: 719px;
}
.box8 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 371px;
  height: 87px;
  position: absolute;
  left: 244px;
  top: 719px;
}
.box9 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 371px;
  height: 31px;
  position: absolute;
  left: 244px;
  top: 719px;
}
.box10 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 105px;
  height: 31px;
  position: absolute;
  left: 244px;
  top: 719px;
}
.box11 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 371px;
  height: 29px;
  position: absolute;
  left: 244px;
  top: 748px;
}
.box12 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 105px;
  height: 30px;
  position: absolute;
  left: 244px;
  top: 776px;
}
.box13 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 105px;
  height: 29px;
  position: absolute;
  left: 244px;
  top: 748px;
}
.box14 {
  background: #c5fa8f;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 243px;
  height: 45px;
  position: absolute;
  left: 801px;
  top: 719px;
}
.auto-run-off-box {
  background: #c5fa8f;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 122px;
  height: 43px;
  position: absolute;
  left: 801px;
  top: 763px;
}
.auto-run-on-box {
  background: #c5fa8f;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 122px;
  height: 43px;
  position: absolute;
  left: 922px;
  top: 763px;
}
.set-vacuum {
  width: 72px;
  height: 19px;
  position: absolute;
  left: 164px;
  top: 724px;
}
.set-heat {
  width: 72px;
  height: 18px;
  position: absolute;
  left: 164px;
  top: 753px;
}
.set-low-vacuum {
  width: 72px;
  height: 19px;
  position: absolute;
  left: 164px;
  top: 782px;
}
.set-cool-switch-1 {
  width: 79px;
  height: 23px;
  position: absolute;
  left: 733px;
  top: 25px;
}
.set-cool-switch-2 {
  width: 79px;
  height: 23px;
  position: absolute;
  left: 733px;
  top: 58px;
}
.set-cool-switch-3 {
  width: 79px;
  height: 23px;
  position: absolute;
  left: 733px;
  top: 91px;
}
.set-cool-switch-4 {
  width: 79px;
  height: 23px;
  position: absolute;
  left: 733px;
  top: 122px;
}
.bx {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 187px;
  height: 58px;
  position: absolute;
  left: 614px;
  top: 748px;
}
.box15 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 188px;
  height: 31px;
  position: absolute;
  left: 614px;
  top: 719px;
}
.box16 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 73px;
  height: 30px;
  position: absolute;
  left: 614px;
  top: 776px;
}
.box17 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 73px;
  height: 29px;
  position: absolute;
  left: 614px;
  top: 748px;
}
.box18 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 116px;
  height: 30px;
  position: absolute;
  left: 686px;
  top: 776px;
}
.box19 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 116px;
  height: 29px;
  position: absolute;
  left: 686px;
  top: 748px;
}
.analog-vacuum-pv-1 {
  font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    font-weight: 500;
  width: 94px;
  height: 19px;
  position: absolute;
  left: 358px;
  top: 724px;
}
.analog-hivacuum-pv-1 {
 font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    font-weight: 500;
  width: 94px;
  height: 19px;
  position: absolute;
  left: 358px;
  top: 753px;
}
.analog-heat-pv-1 {
  font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    font-weight: 500;
  width: 94px;
  height: 19px;
  position: absolute;
  left: 358px;
  top: 782px;
}
.analog-vacuum-pv-2 {
 font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    font-weight: 500;
  width: 94px;
  height: 19px;
  position: absolute;
  left: 481px;
  top: 724px;
}
.analog-hivacuum-pv-2 {
  font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    font-weight: 500;
  width: 94px;
  height: 19px;
  position: absolute;
  left: 481px;
  top: 753px;
}
.analog-heat-pv-2 {
 font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    font-weight: 500;
  width: 94px;
  height: 19px;
  position: absolute;
  left: 481px;
  top: 782px;
}
.analog-timer-sv {
  font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    font-weight: 500;
  width: 69px;
  height: 19px;
  position: absolute;
  left: 702px;
  top: 753px;
}
.analog-timer-pv {
 font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    font-weight: 500;
  width: 69px;
  height: 19px;
  position: absolute;
  left: 702px;
  top: 782px;
}
.ok-auto {
  width: 129px;
  height: 56px;
  position: absolute;
  left: 41px;
  top: 154px;
}
.area-alarm {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 358px;
  height: 300px;
  position: absolute;
  left: 1307px;
  top: 363px;
}
.area-trend {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 587px;
  height: 291px;
  position: absolute;
  left: 1078px;
  top: 48px;
}
.nomal-heat {
  width: 139px;
  height: 138px;
  position: absolute;
  left: 584px;
  top: 410px;
  object-fit: cover;
  aspect-ratio: 139/138;
}
.heatpower-red {
  width: 139px;
  height: 138px;
  position: absolute;
  left: 584px;
  top: 410px;
  object-fit: cover;
  aspect-ratio: 139/138;
}

.text {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: 577px;
  top: 697px;
  width: 31px;
  height: 15px;
}
.text2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: 577px;
  top: 726px;
  width: 32px;
  height: 17px;
}
.text3 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: 577px;
  top: 754px;
  width: 31px;
  height: 16px;
}
.text4 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 8px;
  top: 695px;
  width: 142px;
  height: 15px;
}
.text5 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: 577px;
  top: 727px;
  width: 31px;
  height: 15px;
}
.text6 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: 577px;
  top: 756px;
  width: 32px;
  height: 17px;
}
.text7 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: 577px;
  top: 784px;
  width: 31px;
  height: 16px;
}
.text8 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 8px;
  top: 722px;
  width: 142px;
  height: 15px;
}
.text9 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 8px;
  top: 750px;
  width: 142px;
  height: 15px;
}
.text10 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 8px;
  top: 779px;
  width: 142px;
  height: 15px;
}
.text11 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 269px;
  top: 722px;
  width: 55px;
  height: 15px;
}
.text12 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 254px;
  top: 750px;
  width: 84px;
  height: 15px;
}
.text13 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 257px;
  top: 779px;
  width: 78px;
  height: 15px;
}
.text14 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 666px;
  top: 722px;
  width: 85px;
  height: 15px;
}
.text15 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 623px;
  top: 753px;
  width: 54px;
  height: 15px;
}
.text16 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: 769px;
  top: 756px;
  width: 25px;
  height: 15px;
}
.text17 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: 769px;
  top: 785px;
  width: 25px;
  height: 15px;
}
.text18 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 625px;
  top: 782px;
  width: 51px;
  height: 15px;
}
.div {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 460px;
  top: 721px;
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 460px;
  top: 750px;
}
.div3 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 460px;
  top: 778px;
}
.bell-box {
  background: #1f2935;
  border-radius: 3px;
  width: 241px;
  height: 81px;
  position: absolute;
  left: 1052px;
  top: 723px;
}
.bell-alarm-stop {
  background: #6a7788;
  border-radius: 3px;
  width: 77px;
  height: 77px;
  position: absolute;
  left: 1054px;
  top: 725px;
}
.bell-alarm-reset {
  background: #6a7788;
  border-radius: 3px;
  width: 77px;
  height: 77px;
  position: absolute;
  left: 1134px;
  top: 725px;
}
.bell-recipe {
  background: #6a7788;
  border-radius: 3px;
  width: 77px;
  height: 77px;
  position: absolute;
  left: 1214px;
  top: 725px;
}

.icon-reset {
      width: 75px;
    height: 75px;
    
}
.icon-stop {
      width: 72px;
    height: 72px;
    margin-top: 4px;
    margin-left: 2px;
}

.back-1 {
  width: 901px;
  height: 555px;
  position: absolute;
  left: 245px;
  top: 105px;
  object-fit: cover;
  aspect-ratio: 901/555;
}